:root {
    --fontSize: 14px;
    --c-primary: #178ae7;
    --c-milk: #e9e9e9;
    --c-silver: #dfdfdf;
    --c-light-grey: #f6f6f6;
    --c-dark-grey: #91969d;
    --c-white: #fff;
    --c-white-08: hsla(0,0%,100%,0.8);
    --c-black: #1e232b;
    --c-black-05: rgba(30,35,43,0.5);
    --c-coal: #262626;
    --c-coal-08: rgba(38,38,38,0.8);
    --Ñ-light-coal: #353535;
    --c-dark: #161616;
    --c-zero: #000;
    --c-zero-01: rgba(0,0,0,0.1);
    --c-zero-015: rgba(0,0,0,0.15);
    --c-white-025: hsla(0,0%,100%,0.25);
    --c-white-05: hsla(0,0%,100%,0.5);
    --focusColor: var(--c-zero-01);
    --red: #f35958;
    --textColor: var(--c-black);
    --textColor-05: var(--c-black-05);
    --textColorInvert: var(--c-white);
    --bodyBackground: #9f97978f !important;
    --messageBackground: var(--c-white);
    --messageBackground-08: var(--c-white-08);
    --shadowColor: var(--c-zero-01);
    --timeColor: var(--c-dark-grey);
    --rwcTheme: var(--c-primary);
    --sliderRailColor: var(--c-milk);
    --borderColor: var(--c-silver);
    --pickerBackground: var(--c-light-grey);
    --pickerTogglerColor: var(--c-dark-grey);
    --pickerTogglerActiveColor: var(--c-black);
    --dateToday: var(--c-light-grey);
    --headerBorderColor: var(--c-zero-015);
    --fileItemBackground: var(--c-light-grey);
}